body {
margin: 0;
padding: 0;
}
.sidediv{
    position:fixed;
    left: 0;
    width: 15%;
    box-sizing: border-box;
    height: 100%;
    background-color: greenyellow;
    padding: 10px;
}
#syoukai-nav{
    position:fixed;
    left: 0;
    width: 15%;
    box-sizing: border-box;
    height: 100%;
    background-color:greenyellow;
    padding: 10px;
}
#syoukai-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#syoukai-nav  ul li{
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}
#syoukai-nav  ul li:hover{
    background-color: #8b0000;
}
#syoukai-nav  ul li a{
    color: white;
     text-decoration: none;
}



#jiko {
    
    width: 500px;
    
}     
#kiminonawa{
    
    width: 500px;
    
}


#onnsenn{
    width: 500px;


}
#imadamio{
    width: 500px;

}
#koizora{
    height: 30%;
    width: 30%;
    display: block;
    margin: auto;

}
#saiai{
    height: 10%;
    width: 10%;
  
}

.contentdiv{
    margin-left: 15%;
    width: 85%;
    box-sizing: border-box;
    padding: 20px;
}
img{
    width: 500px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    font-size: 0.8em;
    color: #666;
}